[Desktop Entry]
Version=1.0
Name=Whatsapp
Comment=Aplicativo Web
Exec=sh -c 'XAPP_FORCE_GTKWINDOW_ICON="/home/nilsonlinux/.local/share/ice/icons/Whatsapp.png" /var/lib/flatpak/exports/bin/org.mozilla.firefox --class WebApp-Whatsapp2141 --name WebApp-Whatsapp2141 --profile /home/nilsonlinux/.var/app/org.mozilla.firefox/data/ice/firefox/Whatsapp2141 --no-remote "https://web.whatsapp.com/"'
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/nilsonlinux/.local/share/ice/icons/Whatsapp.png
Categories=GTK;WebApps;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-Whatsapp2141
StartupNotify=true
X-WebApp-Browser=Firefox (Flatpak)
X-WebApp-URL=https://web.whatsapp.com/
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true
